@font-face {
    font-family: font1;
    src: url(font/Fashion\ Fetish\ Outline.ttf);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Fondo para mejorar contraste */
}

.logo img {  
    display: flex; 
    height: 50px;
    box-shadow: 0 0 100px 90px rgba(0, 255, 0, 0.897); 
    background-color: hsl(120, 94%, 45%); 
    align-items: center;
}

main {
    min-height: 70vh;
    padding: 50px;
    width: 100%;
}

#tablaCarrito {
    width: 50%; /* Ancho de la tabla ajustado */
    margin: 30px auto; /* Centrado automático */
    border-collapse: collapse;
    box-shadow: 10px 10px 10px 10px rgba(2, 82, 2, 0.658);
    background-color: white;
}

#tablaCarrito, th, td {
    border: 1px solid #ddd;
}

#tablaCarrito th, #tablaCarrito td {
    padding: 12px; /* Consistencia en el espaciado */
    text-align: center;
    font-size: 1em; /* Tamaño de fuente estándar */
}

#tablaCarrito th {
    background-color: #4CAF50; /* Color de fondo del encabezado */
    color: white;
    font-weight: bold;
}

#tablaCarrito tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tablaCarrito tbody tr:hover {
    background-color: #0ece3e; /* Color de fondo al pasar el mouse */
    
}

/* Estilo para el input de cantidad */
.cantidadInput {
    width: 60px;
    text-align: center;
    border: none;

    font-size: 16px;
    color: #000000;
}

.cantidadInput:focus {
    outline: none;
    border-bottom: 2px solid #1cb822;
}

/* Estilo para la celda de valor total */
 .precioTotal {
    font-weight: bold;
    color: #4CAF50;
    transition: color 0.3s ease; /* Transición suave */
} 

.precioTotal:hover {
    color: #000000; /* Color más oscuro al pasar el mouse */
    cursor: pointer; /* Cambia el cursor a puntero para indicar que es interactivo */
}

/* Estilo para el footer de la tabla */
.footer-row {
    font-weight: bold;
    background-color: #e8e8e8;
}

.footer-row td {
    padding: 15px;
    font-size: 18px;
}

#costoTotal {
    color: #4CAF50;
    font-weight: bold;
}

/* Estilo para el botón del producto */
.producto button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #218838;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    background-color: #32CD32;
    box-shadow: 0 0 20px 15px rgba(50, 205, 50, 0.8);
    align-items: top;
}

footer .contact-info a {
    color: #000000;
    margin-right: 15px;
    text-decoration: none;   
}

footer .contact-info img {
    width: 40px;  
}

footer .TPrecentacion p {
    border: #fff;
    color: #000000;
    margin: 0;
}