* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    font-family: 'font1';
    width: 100%;
    height: 100%;
}

body {
    margin: 5px;
}

main {
    min-height: auto;
    margin-top: 50px;
    padding: 0 10% ;
    display: flex;
    gap: 1%;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
}
main .contenedor1 img {
    width: 30%;
    flex-shrink: 0;
    display: flex;
    animation: deslizar 10s linear infinite;
}

@keyframes deslizar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.contenedor1 {
    width: 100%;
    height: 30%;
    display: flex;
    overflow: hidden;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    gap: 7%;
    padding: 0 20px;
    flex-wrap: nowrap;
}

.slider {
    display: flex;
    gap: 20px;
    animation: deslizar 15s linear infinite;
}
.contenedor2 {
    min-height: 25vh;
  
    display: flex;
    background-color: #06e906;
    box-shadow: 0px 0px 20px 13px #06e906;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.contenedor2 h2, p {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.lef{
    width: auto;
    min-height: 20vh;
}
aside.right {

    padding: 15px;
    background-color: #ccf5c7;
    color: black;
    min-height: 20vh;
    width: 50%;
}
.accordion {

    background-color: #ccf5c7;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: background-color 0.2s;
    margin-bottom: 5px;
    border-radius: 15px;
}

.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 15px;
    display: none;
    background-color: rgba(5, 1, 26, 0.158);
    overflow: hidden;
}


/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 900px) {
    .accordion {
        font-size: 16px;
        padding: 10px;
    }

    aside.right {
        width: 80%;
        min-height: auto;
    }
    .contenedor2 {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
 .Boton {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

@media (max-width: 768px) {
    main {
        padding: 20px;
        flex-direction: column;
    }

    .contenedor1 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 0 10px;
    }

    main .contenedor1 img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 16px;
    }

    .contenedor1 {
        gap: 10px;
    }

    .slider {
        gap: 10px;
    }

    main .contenedor1 img {
        width: 100%;
    }

}