@font-face {
    font-family: font1;
    src: url(font/Fashion\ Fetish\ Outline.ttf); 
}
body {
    font-family: Arial, sans-serif;
    background-image: url('ruta/de/tu/imagen/fondo.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

.logo img {  
    display: flex; 
    height: 50px;
    box-shadow: 0 0 100px 90px rgba(0, 255, 0, 0.897); 
    background-color: hsl(120, 94%, 45%); 
    align-items: center;
    
}
main {
    padding: 50px;
    overflow-y: auto; /* Habilita el desplazamiento solo para el catálogo */
    max-height: 100vh; /* Ajusta la altura para que ocupe la pantalla */
}
.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.catalogo button{
    box-shadow: 0 0 20px 15px rgba(50, 205, 50, 0.8);
}
.producto {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
    background-color: rgba(200, 255, 0, 0.452);
}
/* caja_trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(5, 1, 26, 0.158);
    border-radius: 30px;
    border: #fff;
} */
.producto img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
.producto h3 {
    font-size: 18px;
    margin: 10px 0;
}
.producto p {
    font-size: 14px;
    color: #555;
}
.producto span {
    font-weight: bold;
    color: #333;
}
.producto button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.producto button:hover {
    background-color: #218838;
}


.contBoton {
    display: flex;
    justify-content: center; /* Centrado del contenedor */
    margin-top: 20px;
}

.contBoton button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgba(71, 158, 12, 0.8);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 11px rgba(255, 255, 255, 0.7),
                1px 0px 20px 13px rgba(255, 255, 255, 0.5);
}

button:hover {
    background-color: rgb(84, 240, 12);
    color: black;
}